*,
*::before,
*::after {
    box-sizing: border-box;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.playfair {
  font-family: 'Playfair Display', serif;
}

.merriweatherr {
  font-family: 'Merriweather', serif;
}

.inconsolata {
  font-family: 'Inconsolata', monospace;
}

body {
  width: 100vw; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Merriweather', serif;
}

a {
  color: black; 
  text-decoration: underline;
  font-weight: 900;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

header, footer {
  background-color: black;
  color: white;
  padding: 8px;
  font-family: 'Roboto', sans-serif;
}

header > div {
  display: flex; 
  flex-direction: row;
  justify-content: center;
}

header > div > img {
  max-width: 200px;
  max-height: 200px;
}

header > div > div {
  flex: 1;
  padding: 28px;
}

header > div > div > nav {
  margin-top: 48px;
}

header > div > div > nav > a {
  color: black; 
  background-color: white;
  text-decoration: none;
  margin: 2px 2px;
  padding: 6px 32px;
  display: inline-block;
  border-radius: 4px;
}

footer h1, 
footer h2,
header > div > div h1, 
header > div > div h2 {
  margin: 0;
}
footer h1,
header > div > div h1 {
  font-size: 320%;
}


main  {
  flex: 1;
}

main p {
  line-height: 1.8em;
}

main h2 {
  margin-top: 64px; 
  margin-bottom: 32px;
}

.block {
  max-width: 800px;
  margin: 32px auto;
  padding: 0 32px;
}

.negative {
  background-color: black; 
  color: white;
  padding: 16px 0;
}

.two-columns {
  display: flex;
  justify-content: space-evenly;
}

.two-columns > div:last-child {
  padding-right: 18px;
}

footer > div {
  max-width: 800px; 
  margin: auto;
  padding: 32px;
}

footer nav {
  margin-top: 32px; 
}

footer nav > a {
  display: block; 
  color: white;
  margin: 6px 0;
}


@media screen and (max-width: 640px) {
  header > div {
    flex-direction: column;
  }

  header > div > img {
    display: none;  
  }

  .two-columns {
    flex-direction: column;
  }
}